{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,100;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Drum Game</title>
</head>
<body>
    <!---Header-->
    <section class="header">
        <nav>
            <a href=""> <img src="{% static 'images/DrumLogoBlanco.png' %}" alt="drum-logo"> </a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" id="times" onclick="hideMenu()"></i> 
                <ul>
                    <li><a href="../descarga">DESCARGA</a></li>
                    <li><a href="../login">INICIAR SESIÓN</a></li>
                    <li><a href="../leaderboards">LEADERBOARD</a></li>
                    <li><a href="https://daniumm.github.io/" target="_blank">NUESTRA API</a></li>
                    <li><a href="../contacto">CONTACTO</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" id="bars" onclick="showMenu()"></i>
        </nav>

        <div class="text-box">
            <h1>La percusión es un mundo distinto...</h1>
            <p class="textoLanding-pc">
                En todos lados podemos encontrar ritmo, pero, ¿podemos distinguir los
                tipos de sonidos que los componen? <br> Nuestro juego de enseñanza procura mejorar esta habilidad de reconocer instrumentos percusivos.
            </p>
            <p class="textoLanding-mobile">
                Los ritmos están por todas partes, y tú debes aprender de ellos. <br>
                Descarga nuestro juego para mejorar esta habilidad de reconocer instrumentos percusivos.
            </p>
            <a href="../descarga" class="descarga-inline">Descarga nuestro juego</a>
        </div>

    </section>

    <!--Nuestro Proyecto-->
    <section class="proyecto">
        <h1 class="h1-con-lineas">Nuestro proyecto</h1>
        <p class="p-bajo-proyecto">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, non. Minima quae magni quaerat labore nihil.
        </p>

        <div class="row">
            <div class="proyecto-col">
                <h3>Motivación</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex in, similique voluptatum corrupti inventore quia blanditiis minima nulla voluptates voluptatem perspiciatis molestiae quaerat, fugit minus exercitationem necessitatibus officia provident eveniet!
                </p>
            </div>
            <div class="proyecto-col">
                <h3>Objetivos</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex in, similique voluptatum corrupti inventore quia blanditiis minima nulla voluptates voluptatem perspiciatis molestiae quaerat, fugit minus exercitationem necessitatibus officia provident eveniet!
                </p>
            </div>
            <div class="proyecto-col">
                <h3>Transparencia</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex in, similique voluptatum corrupti inventore quia blanditiis minima nulla voluptates voluptatem perspiciatis molestiae quaerat, fugit minus exercitationem necessitatibus officia provident eveniet!
                </p>
            </div>
        </div>
    </section>

    <!--Equipo-->
    <section class="equipo">
        <h1 class="h1-con-lineas">Nuestro equipo</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, non. Minima quae magni quaerat labore nihil.
        </p>
        <div class="row">
            <div class="equipo-col">
                <img src="{% static 'images/person-placeholder.png' %}" alt="person">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo atque inventore voluptatibus suscipit ab odio at sunt placeat ipsa! Ducimus, eius voluptatem. Deleniti ullam ipsum quos fugiat saepe numquam necessitatibus.</p>
                    <h3>Alejandro Mariacca</h3>
                </div>
            </div>
            <div class="equipo-col">
                <img src="{% static 'images/person-placeholder.png' %}" alt="person">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo atque inventore voluptatibus suscipit ab odio at sunt placeat ipsa! Ducimus, eius voluptatem. Deleniti ullam ipsum quos fugiat saepe numquam necessitatibus.</p>
                    <h3>Aranza García</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="equipo-col">
                <img src="{% static 'images/person-placeholder.png' %}" alt="person">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo atque inventore voluptatibus suscipit ab odio at sunt placeat ipsa! Ducimus, eius voluptatem. Deleniti ullam ipsum quos fugiat saepe numquam necessitatibus.</p>
                    <h3>Daniel Martínez</h3>
                </div>
            </div>
            <div class="equipo-col">
                <img src="{% static 'images/person-placeholder.png' %}" alt="person">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo atque inventore voluptatibus suscipit ab odio at sunt placeat ipsa! Ducimus, eius voluptatem. Deleniti ullam ipsum quos fugiat saepe numquam necessitatibus.</p>
                    <h3>Clarita Osorio</h3>
                </div>
            </div>
        </div>
    </section>

    <!--Call to Action--->
    <section class="cta">
        <h1>Estamos Aquí Para Apoyarte</h1>
        <a href="../contacto" class="descarga-inline">CONTÁCTANOS</a>
    </section>
    
    
    <!--Footer--->
    <section class="footer">
        <h4>Sobre nosotros</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id ducimus quidem labore? Praesentium blanditiis <br>minus quod enim eius magni deleniti laborum perferendis ratione, est rerum eaque incidunt nostrum maxime, eos nihil soluta quasi, id itaque?</p>
        <div class="icons">
            <a href="https://github.com/alemarsa-exe/Drum-Game-WebPage" target="_blank"><i class="fa fa-github"></i></a>
        </div>
        <p>Hecho con <i class="fa fa-heart-o"></i> por el equipo de desarrollo</p>
    </section>

<!------JavaScript para activar menu------>
<script>
    var navLinks = document.getElementById("navLinks");
    var bars = document.getElementById("bars")
    var times = document.getElementById("times")


    function showMenu(){
        navLinks.style.right = "0";
        times.style.display = "";
    }
    function hideMenu(){
        navLinks.style.right = "-200px";
        bars.style.display = "";

    }
</script>

</body>
</html>
