{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,100;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Log in</title>
</head>
<body class="all-body">

    <!---Sub-header---> 
    <section class="sub-header-sesion">
        <nav>
            <a href="../index"> <img src="{% static 'images/DrumLogoBlanco.png' %}" alt="drum-logo"> </a>
            <div class="nav-links a-in-subheader" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i> 
                <ul>
                    <li><a  href="../descarga">DESCARGA</a></li>
                    <li><a href="../leaderboards">LEADERBOARD</a></li>
                    <li><a  href="https://daniumm.github.io/" target="_blank">NUESTRA API</a></li>
                    <li><a href="../contacto">CONTACTO</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
    </section>

    
    <div class="body-login">

        <div class="container-login">
            <div class="cover">
                <div class="front">
                    <img src="{% static 'images/mujer-baterista.jpg' %}" alt="drummer">
                    <div class="text">
                        <span class="text-1">Explora y revisita tus <br> mejores experiencias</span>
                        <span class="text-2">Nos da gusto volver a verte</span>
                    </div>
                </div>
                <div class="back">
                    <img class="backImg" src="{% static 'images/baterista-blanco-y-negro.jpg' %}" alt="drummer-black-and-white">
                    <div class="text">
                        <span class="text-1">Explora y revisita tus <br> mejores experiencias</span>
                        <span class="text-2">Nos da gusto volver a verte</span>
                    </div>
                </div>
            </div>
            <form id="loginForm" action="../login/" method="post">
                <div class="form-content">
                    <div class="login-form">
                        <div class="title">Iniciar sesión</div>
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Escribe tu usuario" name="username" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Escribe tu contraseña" name="password" required>
                            </div>
                            <div class="button input-box">
                                <input type="submit" value="Iniciar sesión" >
                            </div>
                            <div class="text login-text">¿Aún no estás registrado? <a href="../signupuser">Regístrate</a></div>
                        </div>
                    </div>


                    <div class="signup-form">
                        
                    </div>
                </div>
            </form>
        </div>

    </div>



    

<!------JavaScript para activar menu------>
<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu(){
        navLinks.style.right = "0";
    }
    function hideMenu(){
        navLinks.style.right = "-200px";
    }

    

</script>

</body>
</html>
